<table class="table border">
  <thead>
    <tr>
      <th scope="col">image</th>
      <th scope="col">name</th>
      <th scope="col">unitPrice</th>
      <th scope="col">Inventory</th>
      <th scope="col">description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="align-middle">
        <img src=" {{ product.imageUrl }}" height="50px" alt="" />
      </td>
      <td class="align-middle">{{ product.name }}</td>
      <td class="align-middle">{{ product.unitPrice | currency : "USD" }}</td>
      <td class="align-middle">{{ product.unitsInStock }}</td>
      <td class="align-middle">{{ product.description }}</td>
    </tr>
  </tbody>
</table>
